* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

/* .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    border-bottom: 2px solid orange;
} */


#header {
    padding: 0 50px;
    background-color: #eaeaea !important;
}

#header img {
width: 150px;
}

.bg-light {
    background-color: white !important;
}

.main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    /* background-image: linear-gradient(to right, #646605, #005f7c); */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.main {
    position: relative;
    background-image: url(../img/virreyes.jpeg);
    padding: 20vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 85vh;

}

.main > * {
    z-index: 1;
    position: relative;
}

.main h2 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    padding-top: 20px;
    background-color: silver;
    font-weight: bold;

}

#footer ul {
    display: flex;
    flex-direction: row;
}

#footer ul li{
    margin-left: 30px;
    font-size: 1.7rem;  
}

#footer ul li a{
    color: black;
}

#whatsapp:hover {
    color: #29a737;
}

#facebook:hover {
    color: #4267B2;
}

#instagram:hover {
  color: #C13584;  
}

#youtube:hover {
    color:#FF0000;  
}

#linkedin:hover {
    color: #2867B2;  
}


@media only screen and (max-width: 600px) {
    #footer {
        height: 140px;
        flex-direction: column;
        text-align: center;
    }
    .main h2 {
        font-size: 40px;
        }
}

