@font-face {
    font-family: 'Prototype';
    font-style: normal;
    font-weight: normal;
    src: local('Prototype'), url('Prototype.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prototype';
}

header {
    background-color: #c4c4c4;
}

ul li a {
    color: black;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: #f5501b !important;
}

.dropdown-menu{
    background-color: #c4c4c4;
    color: black;
    font-weight: bold;
}
/* .navbar-toggler {
    background-color: white;
} */

.navbar-toggler-icon {
    background-color: #c4c4c4;
    color: black;
}


#header {
    padding: 0 50px;
    background-color: #c4c4c4;
}

#header img {
    width: 150px;
}


.main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    /* background-image: linear-gradient(to right, #646605, #005f7c); */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.main {
    position: relative;
    background-image: url(../img/virreyes.jpeg);
    padding: 20vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 85vh;

}

.main>* {
    z-index: 1;
    position: relative;
}

.main h2 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    padding-top: 20px;
    background-color: silver;
    font-weight: bold;

}

#footer ul {
    display: flex;
    flex-direction: row;
}

#footer ul li {
    margin-left: 30px;
    font-size: 1.7rem;
    list-style: none;
}

#footer ul li a {
    color: black;
}

#whatsapp:hover {
    color: #29a737;
}

#facebook:hover {
    color: #4267B2;
}

#instagram:hover {
    color: #C13584;
}

#youtube:hover {
    color: #FF0000;
}

#linkedin:hover {
    color: #2867B2;
}




/*  QUIENES SOMOS */
.nosotros__textos {
    margin: 80px 0;
}

.nosotros__imagen {
    width: 500px;
}

.queHacemos {
    margin: 100px 0;
}

.queHacemos__textos {
    text-align: center;
}

.queHacemos__textos h2 {
    font-size: 60px;
    letter-spacing: 10px;
}

.queHacemos__textos p {
    font-size: 40px;
}

.objetivo__imagen {
    width: 500px;
}

/* QUIENES SOMOS */

/* CAPACITATE */
.cursos__columna{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cursos__titulo{
    text-align: center;
    letter-spacing: 8px;
    margin: 30px 0 ;
}
.curso_instagram{
    width: 200px;
}
.curso_mercadolibre{
    width: 200px;
    margin: 10px;
}

.cursos__boton{
    background-color: #a5df2a;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.cursos__fondo{
    background-color: #27AEFD;
    border: 5px solid #27AEFD;
    border-radius: 30px 0px 30px 0px;
    padding: 30px;
}
/* CAPACITATE */

/*VENI A SEMBRAR */
.veniAsembrar p {
    font-size: 20px;
}

.veniAsembrar__verde {
    background-color: #a5df2a;
    padding: 15px;
}

.veniAsembrar__azul {
    background-color: #27AEFD;
    padding: 20px;
}

.veniAsembrar__titulo {
    margin: 50px 0;
}

.staff__titulo {
    margin: 70px 0;
}

.card-deck {
    padding: 10px 0;
}

.card-body {
    padding: 0px;
    text-align: center;
}

.card-title {
    background-color: #27AEFD;
    padding: 10px 0;
}

.card-text {
    padding: 5px;
    font-size: 20px;
}

.card_title_sembradores {
    background-color: #a5df2a;
}
/*VENI A SEMBRAR*/

/* BLOG */
#blog {
    margin: 2rem; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-gap: 30px;
    /* border: 1px solid green; */
}

#blog-title {
   margin-top: 2rem; 
   text-align: center;
   font-weight: bold;
}


.blog-article {
    margin: 2rem;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding: 2rem;

}

.orange {
   border: 5px solid #FFB300;
}

.blue {
    border: 5px solid #00AAE4;
}

.green {
   border: 5px solid #a5df2a;
}

.blog-article-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom:2rem;
}

.blog-article-subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.blog-article-text {
    margin-bottom: 3rem;
}

.blog-article-btn {
    background-color: #00AAE4;
    border-radius: 5px;
    padding: 1rem;
    color: black;
    text-decoration: none;

}

.blog-article-btn:hover {
    color:white;
    text-decoration: none;
    
}
/* BLOG */

/* RESPONSIVE */ 
@media only screen and (max-width: 600px) {
    /* FOOTER */
    #footer {
        height: 140px;
        flex-direction: column;
        text-align: center;
    }
    .main h2 {
        font-size: 40px;
    }
    /* /FOOTER */
    
    /* BLOG */
    #blog {
        margin: 0; 
        /* border: 1px solid green; */
    }
    .blog-article {
        margin: 2rem 0;
        border-radius: 25px;
    }
    /* /BLOG */
}
/* /RESPONSIVE */