* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

@font-face {
    font-family: 'Prototype';
    font-style: normal;
    font-weight: normal;
    src: local('Prototype'), url('Prototype.woff') format('woff');
    }


h1,h2,h3,h4,h5,h6{
    font-family: 'Prototype';
}



ul li a{
    color: black;
    font-weight: bold;
}

ul li a:hover{
    color: #f5501b;
}
.navbar-toggler{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: #c4c4c4;
    color: black;
}


#header {
    padding: 0 50px;
    background-color: #c4c4c4; 
}

#header img {
width: 150px;
}


.main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    /* background-image: linear-gradient(to right, #646605, #005f7c); */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.main {
    position: relative;
    background-image: url(../img/virreyes.jpeg);
    padding: 20vh 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 85vh;

}

.main > * {
    z-index: 1;
    position: relative;
}

.main h2 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Nunito', sans-serif;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    padding-top: 20px;
    background-color: silver;
    font-weight: bold;

}

#footer ul {
    display: flex;
    flex-direction: row;
}

#footer ul li{
    margin-left: 30px;
    font-size: 1.7rem;  
}

#footer ul li a{
    color: black;
}

#whatsapp:hover {
    color: #29a737;
}

#facebook:hover {
    color: #4267B2;
}

#instagram:hover {
  color: #C13584;  
}

#youtube:hover {
    color:#FF0000;  
}

#linkedin:hover {
    color: #2867B2;  
}


@media only screen and (max-width: 600px) {
    #footer {
        height: 140px;
        flex-direction: column;
        text-align: center;
    }
    .main h2 {
        font-size: 40px;
        }
}


/* FLOR */
.nosotros__textos {
    margin: 80px 0;
}

.nosotros__imagen {
    width: 500px;
}

.queHacemos{
    margin: 100px 0;
}
.queHacemos__textos {
    text-align: center;
}
.queHacemos__textos h2{
    font-size: 60px;
    letter-spacing: 10px;
}

.queHacemos__textos p{
    font-size: 40px;
}

.objetivo__imagen{
    width: 500px;
}
/* FLOR */


/* BLOG */

#blog {
    margin: 2rem; 
    border: 1px solid green;
}

.blog-article {
    margin: 2rem;
    border: 1px solid red
}


/* BLOG */
